# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# node modules
node_modules

# configuration file for the bot
config.toml

.idea

# fork of their module for personal reasons
node-teamspeak

# contrib plugins
plugins/contrib/*

# dobby flatfile cache
dobby.db
