[bot]
name = "Dobby"

[server]
host = "127.0.0.1"
port = 10011
user = "serveradmin"
pass = "PaSsWoRd"


[plugins]
help = true
admin = true
bing = true
cid = true
google = true
howhot = true
img = true
ud = true
random = true

# these are uids of admins
[admins]
sean = "tIfU8lpVDfj1EnNbRuHmtNp/wX0="
quibs = "SoHHSfrTKmJOsJ3TKjhuso84rhA="
